.room-container {
    height: 100vh;
    background-color: #FDFDFD;
    margin:0;
}

.right-status-container {
    //border-left: 1px solid gray;
    height: 100vh;
    padding: 0;
}

#avatar {
    height: 70vh;
    background-color: #0275d8;
}

#status-container {
    height: 30vh;
    background-color: #d3d3d3;
}

#status {
    overflow: auto;
}

.avatar-div {
    background-color: #d3d3d3;
    opacity: 0.95;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#me {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: #d3d3d3;
}

a {
    color: #d3d3d3;
}

a:link {
    color: #d3d3d3;
    text-decoration: none;
}

a:visited {
    color: #d3d3d3;
    text-decoration: none;
}

a:hover {
    color: #d3d3d3;
    text-decoration: none;
}

a:active {
    color: #d3d3d3;
    text-decoration: none;
}

.heart {
    height: 30px;
    width: 30px;
}
