

.top, .content {
    background-color: rgb(244, 245, 246);

}

h2, h3 {
    margin-top: 100px;
}

.btn {
    height: 40px !important;
}

.padding {
    padding-top: 40px;
    padding-bottom: 40px;

}

pre {
    background-color: #ededed;
    padding: 10px;
}


.header {
    height: 100vh;
    text-align: right;
}

.cls-1 {
    fill: none;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    animation: dash 5s linear forwards;
}

.cls-2 {

    fill: none;
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation: dash 5s linear forwards;
}

.cls-3 {
    fill: none;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: dash 5s linear forwards;

}

@keyframes dash {

    to {
        stroke-dashoffset: 0;


    }


}


.intro {
    display: flex;
  flex-direction: column;
  justify-content: center;
}

.glaze {
    max-height: 500px;
    margin: 0 auto;
}


@media (max-width: 768px) {

.header {
    text-align: center;
}

}

footer {
    background-color: rgb(244, 245, 246);
}
